* 
    font-family: 'SofiaPro', sans-serif

body 
    display: flex
    flex-direction: column
    overflow: overlay
    background-color: $color-light 

.container 
    max-width: 1110px
    position: relative
    z-index: 3
    margin: 0 auto

.btn
    padding: 19px 0 15px 0
    margin: 0 auto
    display: flex
    justify-content: center
    width: 196px
    height: 48px
    border: none
    text-transform: uppercase
    font-weight: 600
    font-size: 14px
    line-height: 14px
    background-color: $color-main
    cursor: pointer
    transition: all 0.6s
    &:hover 
        background-color: $color-light
        border: 2px solid
        border-color: $color-main
    &_send
        width: 272px
        margin: 0

.btn_icon 
    margin-left: 4px

section 
    padding-top: 100px
    padding-bottom: 92px

.logo-light
    display: none

.humburger
    display: none

.title
    font-family: 'Alata'
    font-weight: 400
    font-size: 90px
    line-height: 100px
    color: $color-dark
    &_white
        color: $color-light

.divider 
    margin-left: 50px
    width: 6px
    height: 100px
    transform: rotate(-90deg)
    background: $color-light
    &_yellow
        background: $color-main

.descr 
    font-weight: 300
    font-size: 18px
    line-height: 26px
    max-width: 840px
    color: $color-text

.slider
    &_wrapper 
        // max-width: 1270px
        // overflow: hidden
        display: flex
        gap: 40px
        align-items: center
        margin-bottom: 72px
        transform: translateX(-54px)
    &_inner
        display: flex
        gap: 30px
        align-items: center

.slide 
    width: 255px
    height: 213px 
    &_img
        width: 100%

.right_arrow
    transform: rotate(-180deg)
    cursor: pointer

.left_arrow
    cursor: pointer

.form 
    margin-top: 41px
    display: flex
    flex-direction: column
    gap: 15px
    align-items: flex-end
    &-unactive
        display: none

