.our-things
    background: $color-main
    &_wrapper
        display: flex
        gap: 30px
        margin-bottom: 48px
        margin-top: 12px
    &_card
        padding: 30px 59px 35px 59px
        background: $color-light
        display: flex
        flex-direction: column
        gap: 12px
        align-items: center
        font-family: 'Alata'
        font-weight: 400
        font-size: 30px
        line-height: 41px
        text-align: center
        color: $color-dark